@use 'styles/mixins' as m;
@use 'styles/tokens' as t;

.photostream-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: t.$space-4;
  padding: t.$space-8;

  @include m.down(640px) {
    gap: t.$space-2;
    padding: t.$space-2;
  }
}
